<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommendation System</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/predict" method="POST">
        <label>Enter the amount of Nitrogen:</label>
    <p><input type="number" name="N" step="any" required></p>
    
    <label>Enter the amount of Phosphorous:</label>
    <p><input type="number" name="P" step="any" required></p>
    
    <label>Enter the amount of Potassium:</label>
    <p><input type="number" name="K" step="any" required></p>
    
    <label>Enter the amount of Temperature :</label>
    <p><input type="number" name="temperature" step="any" required></p>
    
    <label>Enter the amount of Humidity:</label>
    <p><input type="number" name="humidity" step="any" required></p>
    
    <label>Enter the amount of pH:</label>
    <p><input type="number" name="ph" step="any" required></p>
    
    <label>Enter the amount of Rainfall:</label>
    <p><input type="number" name="rainfall" step="any" required></p>
    
    <p><input type="submit" value="Submit"></p>
    {%if prediction%}
    <p>Result: The most suitable crop to grow is  <b>{{prediction}}</b></p>
    {% endif %}
    </form>
</body>
</html>